@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spectral&display=swap');

html, body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    
}

#contHeader, #hero {
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contHeader {
    height: 9vh;
}

#contHeader img {
    height: 35%;
    width: auto;
}

nav li {
    display: inline;
    list-style: none;
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    color: #191919;
    font-size: 15px;
}

#getStarted {
    background-color: #191919;
    color: white;
    padding: 13px 20px;
    border-radius: 30px;
}

#hero {
    height: 50vh;
    position: relative;
}

#hero h1 {
    font-size: 130px;
    font-family: 'Spectral', serif;
    display: inline-block;
}

#hero svg {
    position: absolute;
    right: -500px;
}