@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&display=swap');

/*-------------NAVBAR-------------*/

.navbar {
    background-image: url(/assets/bg/bg-grey.jpg);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo {
    width: 70px;
    height: auto;
}

.navbar-brand {
    font-family: 'Karla', sans-serif;
}

.navbar-collapse {
    flex: 0;
    width: 0px;
    overflow: visible; /* Per non modificare la posizione del logo nella navbar, utilizzando "content-space-between" */
}

.nav-link, h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#cart {
    font-size: xx-large;
    height: 50px;
    width: 50px;
}

/*-------------CONTAINER-------------*/

#backgroundH1 {
    background-color: rgb(230, 230, 230);
}

#backgroundCont {
    background-image: url(/assets/bg/bg-grey.jpg);
    background-size:cover;
    background-repeat: 100%;
    height: 100vh;
    width: auto;
}

.card {
    width: 230px;
}

.card-img-top {
    height: 170px; 
    width: 100%;
}

