@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&display=swap');

/*-------------NAVBAR-------------*/

.navbar {
    background-image: url(/assets/bg/bg-grey.jpg);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo {
    width: 70px;
    height: auto;
}

.navbar-brand {
    font-family: 'Karla', sans-serif;
}

.navbar-collapse {
    flex: 0;
    width: 0px;
    overflow: visible; /* Per non modificare la posizione del logo nella navbar, utilizzando "content-space-between" */
}

.nav-link, h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#cart {
    font-size: xx-large;
    height: 50px;
    width: 50px;
}

/*-------------CONTAINER-------------*/

#backgroundH1 {
    background-color: rgb(230, 230, 230);
}

#backgroundCont {
    background-image: url(/assets/bg/bg-grey.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: repeat-y;
    min-height: 100vh;
}

.typewriter h1 {
    overflow: hidden; 
    border-right: .15em solid rgb(53, 53, 53); /* Cursore Typewriter */
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .25em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
  /* Animazioni macchina da scrivere */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.card {
    width: 230px;
}

.card-img-top {
    height: 270px; 
    width: 100%;
}

#submit {
    border: 3px solid rgb(116, 184, 116);
}

#reset {
    border: 3px solid rgb(207, 197, 51);
}

#delete {
    border: 3px solid rgb(192, 112, 112);
}

.smallText {
    font-size: small;
    font-style: italic;
    font-weight: lighter;
}

.cardBorder {
    border-radius: 0;
}

.cardBackground {
    background-color: rgb(214, 214, 214);
    border-left: 1px dotted black;
}

.imgDetails {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    display: block;
    margin: 0;
    padding: 0;
}